## **Описание задачи и датасета**

Датасет Titanic описывает пассажиров парохода «Титаник», затонувшего в 1912 году. Необходимо решить задачу бинарной классификации: по данным о пассажире нужно предсказать, выжил он или нет.

Переменные датасета titanic:

Проект решает задачу бинарной классификации на датасете Titanic: по информации о пассажире нужно предсказать, выжил он в катастрофе или нет (`Survived`: 1 - выжил, 0 - погиб). Данные описывают 891 пассажира лайнера «Титаник» с признаками пола, возраста, класса билета, стоимости билета, каюты и порта посадки.  

Основные поля датасета:

- `PassengerId` - уникальный идентификатор пассажира (служебный);
- `Survived` - целевая переменная (1 - выжил, 0 - погиб);
- `Pclass` - класс билета (1 - высший, 2 - средний, 3 - низший);
- `Name` - полное имя пассажира;
- `Sex` - пол (`male` / `female`);
- `Age` - возраст (часть значений отсутствует);
- `SibSp` - число братьев/сестер и супругов на борту;
- `Parch` - число родителей и детей на борту;
- `Ticket` - номер билета;
- `Fare` - стоимость билета;
- `Cabin` - номер каюты;
- `Embarked` - порт посадки (`S`, `C`, `Q`).

In [2]:
# импорт необходимых библиотек
import pandas as pd
import torch
import torch.nn as nn
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from dotenv import load_dotenv
import os

In [16]:
# загрузка параметров из .env файла
load_dotenv("envs/.params.env", override=True)

TRAIN_DATA_URL = os.getenv("TRAIN_DATA_URL")
TEST_DATA_URL = os.getenv("TEST_DATA_URL")
VAL_SIZE = float(os.getenv("VAL_SIZE"))
EPOCHS = int(os.getenv("EPOCHS"))
HIDDEN_SIZE = int(os.getenv("MODEL_PARAMETER_1"))

In [17]:
# загрузка данных
train_df = pd.read_csv(TRAIN_DATA_URL)
test_df  = pd.read_csv(TEST_DATA_URL)

In [4]:
train_df

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
test_df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [18]:
# переименование столбцов датасета train для удобства работы с ними
test_df = test_df.drop(columns=['PassengerId'])
train_df = pd.DataFrame(train_df.values, columns=['Survived'] + list(test_df.columns))

In [19]:
# разделение данных на признаки и целевую переменную
X_train = train_df.drop(columns=['Survived', 'Ticket', 'Name'])
y_train = train_df['Survived']

X_test = test_df.drop(columns=['Ticket', 'Name'])

In [20]:
# Заполнение пропусков - числовые признаки
for X in [X_train, X_test]:
    for col in ['Age', 'Fare', 'SibSp', 'Parch', 'Pclass']:
        if X[col].isna().any():
            X[col] = X[col].fillna(X[col].median())

# Заполнение пропусков - категориальные признаки
for X in [X_train, X_test]:
    for col in ['Embarked', 'Sex', 'Cabin']:
        if X[col].isna().any():
            X[col] = X[col].fillna(X[col].mode()[0])

C:\Users\admin\AppData\Local\Temp\ipykernel_19984\3740805108.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X[col] = X[col].fillna(X[col].median())

In [21]:
for X in [X_train, X_test]:
    # бинарное кодирование для Sex признака
    X['Sex'] = (X['Sex'] == 'female').astype(int)

In [22]:
# функция для выделения палубы из номера каюты
def cabin_to_deck(x):
    return x[0]

# применение функции к признаку Cabin
for X in (X_train, X_test):
    for col in ['Embarked', 'Cabin']:
        X['Cabin'] = X['Cabin'].apply(cabin_to_deck)

In [23]:
# метки для категориальных признаков
# применяем к train/test
for col in ['Embarked', 'Cabin']:
    # обучаем кодировщик на train
    le_embarked = LabelEncoder()
    le_embarked.fit(X_train[col])
    for X in [X_train, X_test]:
        X[col] = le_embarked.transform(X[col])

In [24]:
# приведение типов данных
for X in [X_train, X_test]:
    for col in X.columns:
        if X[col].dtypes == 'object':
            X[col] = X[col].astype(type(X[col].unique()[0]))

y_train = y_train.astype(int)

In [25]:
# Разделение на обучающую и тестовую выборки
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=VAL_SIZE, random_state=42)

In [26]:
# превращение данных в тензоры
X_train_t = torch.tensor(X_train.values, dtype=torch.float32)
y_train_t = torch.tensor(y_train.values, dtype=torch.float32)
X_val_t = torch.tensor(X_val.values, dtype=torch.float32)
y_val_t = torch.tensor(y_val.values, dtype=torch.float32)
X_test_t   = torch.tensor(X_test.values,   dtype=torch.float32)

In [27]:
# модель 1: нейронная сеть с одним скрытым слоем
class SimpleNet(nn.Module):
    def __init__(self, in_features):
        super().__init__()
        self.fc1 = nn.Linear(in_features, HIDDEN_SIZE)
        self.relu = nn.ReLU()
        self.fc2 = nn.Linear(HIDDEN_SIZE, 1)

    def forward(self, x):
        x = self.fc1(x)
        x = self.relu(x)
        x = self.fc2(x).squeeze(1)
        return x

In [16]:
# Инициализация модели, функции потерь и оптимизатора
input_dim = X_train.shape[1]
model = SimpleNet(input_dim)
criterion = nn.BCEWithLogitsLoss()
optimizer = torch.optim.Adam(model.parameters(), lr=1e-3)

In [17]:
# Тренировочный цикл
for epoch in range(EPOCHS):
    model.train()
    optimizer.zero_grad()
    logits = model(X_train_t)
    loss = criterion(logits, y_train_t)
    loss.backward()
    optimizer.step()

    if (epoch + 1) % 10 == 0:
        model.eval()
        with torch.no_grad():
            val_logits = model(X_val_t)
            val_probs = torch.sigmoid(val_logits)
            val_pred_labels = (val_probs.numpy() >= 0.5).astype(int)
            val_acc = accuracy_score(y_val_t, val_pred_labels)
        print(f"Epoch {epoch+1}/{EPOCHS} | loss={loss.item():.4f} | val_acc={val_acc:.4f}")

Epoch 10/50 | loss=1.7442 | val_acc=0.4366
Epoch 20/50 | loss=1.1213 | val_acc=0.5821
Epoch 30/50 | loss=0.9418 | val_acc=0.6754
Epoch 40/50 | loss=0.8226 | val_acc=0.6828
Epoch 50/50 | loss=0.7413 | val_acc=0.7239

In [18]:
model.eval()
with torch.no_grad():
    test_logits = model(X_test_t)
    test_probs = torch.sigmoid(test_logits)
    test_pred_labels = (test_probs.numpy() >= 0.5).astype(int)
print('Модель 1:\ny_test =', test_pred_labels)

Модель 1:
y_test = [0 0 0 0 0 0 0 1 0 1 0 0 1 0 1 1 0 0 0 0 1 0 1 1 1 0 1 0 1 1 0 1 0 1 1 0 0
 0 0 1 0 1 0 0 1 0 0 0 1 0 1 0 1 0 0 1 0 0 0 1 0 0 0 0 0 1 0 1 1 1 0 0 0 1
 1 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 0 0 1 1 0 0 0 1 0 0 0 0 0
 0 1 0 1 1 0 0 1 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 0 1 1 1 1 1 0 0 1 0
 1 1 1 0 0 0 1 0 1 0 0 0 0 1 0 0 0 1 1 1 1 0 0 0 0 0 0 1 1 1 1 1 0 1 1 0 0
 0 1 0 1 0 1 1 1 0 1 0 0 0 0 0 0 0 1 1 0 1 0 0 1 0 1 0 1 0 0 1 0 1 1 0 0 0
 0 0 0 0 0 0 0 0 1 1 0 0 1 0 1 0 0 1 0 0 1 0 1 1 1 1 1 0 0 0 1 0 0 0 0 0 0
 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 0 1 0 0 1 0 0 0 0 1 0 0 0 1 0 0 1 0 0 1 0 0
 0 1 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 1 0 0 1 0 0 0 1 1 0 1 1 1 0 1 1 0
 1 0 1 0 0 1 0 0 0 1 0 0 0 0 0 0 0 1 0 1 1 0 0 1 0 0 0 1 1 0 0 1 1 0 1 1 0
 0 1 0 0 1 1 0 0 1 0 0 0 0 1 0 1 0 0 0 1 1 1 1 0 1 1 0 1 0 0 1 0 1 1 0 0 0
 1 0 0 0 1 0 0 1 0 0 1]

In [19]:
# Модель 2: двухслойная MLP
class TwoLayerMLP(nn.Module):
    def __init__(self, in_features):
        super().__init__()
        self.fc1 = nn.Linear(in_features, HIDDEN_SIZE)
        self.relu = nn.ReLU()
        self.fc2 = nn.Linear(HIDDEN_SIZE, HIDDEN_SIZE)
        self.relu2 = nn.ReLU()
        self.out = nn.Linear(HIDDEN_SIZE, 1)

    def forward(self, x):
        x = self.fc1(x)
        x = self.relu(x)
        x = self.fc2(x)
        x = self.relu2(x)
        x = self.out(x).squeeze(1)
        return x

In [20]:
# Инициализация модели и оптимизатора для модели 2
model2 = TwoLayerMLP(input_dim)
optimizer2 = torch.optim.Adam(model2.parameters(), lr=1e-3)

In [21]:
# Тренировочный цикл для модели 2
for epoch in range(EPOCHS):
    model2.train()
    optimizer2.zero_grad()
    logits = model2(X_train_t)
    loss = criterion(logits, y_train_t)
    loss.backward()
    optimizer2.step()

    if (epoch + 1) % 10 == 0:
        model2.eval()
        with torch.no_grad():
            val_logits = model2(X_val_t)
            val_probs = torch.sigmoid(val_logits)
            val_pred_labels = (val_probs.numpy() >= 0.5).astype(int)
            val_acc = accuracy_score(y_val_t, val_pred_labels)
        print(f"Epoch {epoch+1}/{EPOCHS} | loss={loss.item():.4f} | val_acc={val_acc:.4f}")

Epoch 10/50 | loss=0.6080 | val_acc=0.6940
Epoch 20/50 | loss=0.5999 | val_acc=0.7090
Epoch 30/50 | loss=0.5915 | val_acc=0.6978
Epoch 40/50 | loss=0.5843 | val_acc=0.6978
Epoch 50/50 | loss=0.5769 | val_acc=0.6978

In [22]:
model2.eval()
with torch.no_grad():
    test_logits2 = model2(X_test_t)
    test_probs2 = torch.sigmoid(test_logits2)
    test_pred_labels2 = (test_probs2.numpy() >= 0.5).astype(int)
print('Модель 2:\ny_test =', test_pred_labels2)

Модель 2:
y_test = [0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 1 0 1 1 1 0 1 0 0 0 0 0 0 0 1 0 0
 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0
 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0
 0 1 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0
 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 1 0 1 0 1 1 0 1
 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 1 0 0 0
 0 0 0 0 0 0 0 0 1 1 0 0 1 0 1 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0
 0 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 0 1 0 0 1 0 0 1 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 1 0 0 1 0 1 1 0 0 0
 1 0 0 0 1 0 0 1 0 0 0]

In [13]:
from sklearn.linear_model import LogisticRegression

In [29]:
max_iter_lr = int(os.getenv("MODEL_PARAMETER_2"))

In [ ]:
print("\nОбучение Модели 3: Логистическая регрессия")
model_lr = LogisticRegression(random_state=42, max_iter=max_iter_lr)
model_lr.fit(X_train, y_train)

y_pred_lr = model_lr.predict(X_val)
accuracy_lr = accuracy_score(y_val, y_pred_lr)
print(f" Точность на val: {accuracy_lr:.4f}")

Обучение Модели: Логистическая регрессия
 Точность на val: 0.8134

In [34]:
y_pred_lr = model_lr.predict(X_test)
y_pred_lr
print('Модель 3:\ny_test =', y_pred_lr)

Модель 3:
y_test = [0 0 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 1 0 0 1 1 1 0 1 0 0 0 0 0 0 0 1 0 1
 1 0 0 0 1 0 1 1 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 1 1 1 0 1 1
 1 1 0 1 0 1 0 0 0 0 0 0 1 1 1 0 1 0 1 0 1 0 1 0 1 0 1 0 0 0 1 0 0 0 0 1 0
 1 1 1 1 0 0 1 1 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 1 0
 0 0 1 0 0 0 0 0 1 1 0 1 1 0 1 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 1 1 0 1
 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 1 1 0 1 1 0 1 0 0 0 0 0 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 1 0 0 0 1 0 1 1 1 0 1 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 0 0 1 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 1 0
 0 1 1 1 1 1 0 1 0 0 0]